.mapboxgl-map {
  height: 400px;
  width: 100%;
}

#geocoder {
  z-index: 1;
  margin: 20px 0;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

.field--widget-mapbox-places-field-widget {
  max-width: 50%;
}

.field--widget-mapbox-places-field-widget input {
  width: 100%;
}
